/* This file is for the opportunities/index.html file and should not be used anywhere else */

#page-container {
    width: 100%;
    max-width: 800px;
    margin-bottom: 50px;
    display: none;
}

/* Highlight the right border of the all opportunities sidebar tab */
aside #opportunities-nav-options #all-opportunities-tab {
    border-left-color: #1562f2;
    border-left-width: 2.5px;
}

.full-details-btn {
    margin-left: 10px;
}
