header {
    display: flex;
    align-items: center;
}

#status {
    padding: 6px 30px;
    border-radius: 10px;
}

#details-container {
    width: 100%;
    max-width: 800px;
    display: none;
}

h3 {
    margin-bottom: 6px;
    font-size: 18px;
}

p {
    font-size: 16px;
    line-height: 22px;
}

#description {
    margin-bottom: 30px;
}

#requirements {
    padding-left: 30px;
    margin-bottom: 30px;
}

#requirements li {
    margin-bottom: 6px;
}

#details-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

#details-wrapper section {
    width: 50%;
    margin-bottom: 30px;
    display: flex;
}

#details-wrapper section h3 {
    margin: 0px;
}

#details-wrapper section p {
    margin-left: 10px;
    margin-top: 2px;
}

hr {
    margin: 30px 0px;
    border: 1px solid #dfdfdf;
}

#actions {
    display: flex;
}

button {
    width: 50%;
}

#approve-btn {
    margin-right: 10px;
}
