SERVER_PORT=your server port
DB_URI=your db uri
GOOGLE_CLIENT_ID=your gooogle client id for google authentication
GOOGLE_CLIENT_SECRET=your google client secret
JWT_SECRET=your super safe jwt secret
CLIENT_URL=http://127.0.0.1:5500
API_URL=http://localhost:3000
