#page-title {
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
    font-size: 38px;
    max-width: 800px;
    line-height: 30px;
}

/* Highlight the left border of the profile sidebar tab */
aside #settings-nav-options #profile-nav-tab {
    border-left-color: #1562f2;
    border-left-width: 2.5px;
}

/* Show the settings sidebar options */
aside #settings-nav-options {
    display: block;
}

#profile,
#profile ul {
    list-style: none;
}

#profile {
    margin-top: 50px;
    width: 100%;
    max-width: 800px;
}

#personal-details {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

#profile-img {
    width: 100px;
    height: 100px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: #34a853;
}

#profile-img p {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
}

#name-email-details {
    width: 620px;
    display: flex;
    justify-content: space-between;
}

#full-name {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
}

#email {
    color: #505050;
    font-size: 18px;
}

#user-role {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

#user-role img {
    width: 24px;
    height: 24px;
    margin-right: 14px;
}

#user-role p {
    color: #505050;
    font-size: 18px;
}

#profile-tab {
    border-bottom: 1.5px solid #dfdfdf;
}

#profile-tab ul {
    display: flex;
}

#profile-tab ul li {
    margin-right: 40px;
    margin-bottom: -1.5px;
    font-size: 18px;
    line-height: 50px;
}

#profile-tab ul li p:hover {
    cursor: pointer;
}

#profile-tab ul .visible {
    border-bottom: 1.5px solid #1562f2;
}

#visible-profile-details {
    margin-top: 40px;
}

.visible-details li {
    margin-bottom: 20px;
    display: flex;
}

.visible-details li h4 {
    width: 200px;
    font-size: 18px;
}

.visible-details li p {
    color: #505050;
    font-size: 16px;
}

#education-visible-details li {
    padding: 20px;
    flex-direction: column;
}

#education-visible-details li h4 {
    margin-bottom: 6px;
}
