#page-container {
    width: 800px;
    display: none;
}

#page-title {
    width: 100%;
    max-width: 800px;
    margin-bottom: 30px;
    font-size: 30px;
    max-width: 800px;
    line-height: 30px;
}

#page-state,
#page-error {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

#page-state p,
#page-error p {
    font-size: 16px;
}

/* Highlight the right border of the analytics sidebar tab */
aside #settings-nav-options #notifications-nav-tab {
    border-left-color: #1562f2;
    border-left-width: 2.5px;
}

aside #settings-nav-options {
    display: block;
}

#notification-message {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    font-size: 16px;
}

#notification-actions {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#notification-date {
    display: flex;
}

#notification-date h4 {
    margin-right: 10px;
}

#read-toggle-btn {
    margin-right: 15px;
}